
&spicc0 {
	status = "okay";
    spidev: spidev@0{
        status = "okay";
        compatible = "linux,spidev";
        spi-max-frequency = <80000000>;
        reg = <0>; // chip select pin:GPIOX_10
        #list-cells = <0>;
    };
};

/ {
    
	compatible = "hardkernel,odroid-n2", "amlogic,s922x", "amlogic,g12b";
    pcm3060 {
        compatible = "ext_pcm3060";
        pwms = <&pwm_cd 0 1250 0>;
        pwm-names = "pwm_pcm3060_sck";
        spis = <&spidev>;
        spi-names = "spi_pcm3060";
    };
};
